@import url('https://fonts.googleapis.com/css?family=Balthazar');

$body-bg:                   #333;
$body-color:                #ddd;

$primary:                   #135ba0;
$secondary:                 #999;
$danger:                    #a02313;

$link-color:                #fff;
$link-decoration:           none;
$link-hover-color:          darken($link-color, 15%);
$link-hover-decoration:     underline;

$blockquote-small-color:    #bbb;
$code-color:                $body-color;

$table-head-bg:             #135ba0;
$table-head-color:          #fff;
$table-border-color:        #135ba0;

$navbar-dark-color:                 #fff;
$navbar-dark-hover-color:           #fff;
$navbar-dark-active-color:          #fff;
$navbar-dark-disabled-color:        rgba(#fff, .5);

$nav-link-disabled-color:           #999;

$nav-tabs-border-color:             #ccc;
$nav-tabs-link-hover-border-color:  #ccc #ccc #666;
$nav-tabs-link-active-color:        #fff;
$nav-tabs-link-active-bg:           transparent;
$nav-tabs-link-active-border-color: #ccc #ccc #666;

$navbar-dark-toggler-border-color:  rgba(#fff, .1);

$dropdown-bg:               #135ba0;
$dropdown-border-color:     #135ba0;
$dropdown-link-color:       #fff;
$dropdown-link-hover-color: #fff;
$dropdown-link-hover-bg:    rgba(#135ba0, 1.1);

$jumbotron-bg:              #333;

$hr-border-color:           #ccc;

$headings-font-family:      'Balthazar', serif;

$pagination-bg:             #135ba0;
$pagination-border-color:   $pagination-bg;
$pagination-hover-bg:       $pagination-bg;
$pagination-hover-border-color:     $pagination-bg;
$pagination-disabled-color:         #bbb;
$pagination-disabled-bg:            $pagination-bg;
$pagination-disabled-border-color:  $pagination-bg;

$card-bg:                   #666;
$card-cap-bg:               #135ba0;

$input-bg:                  #666;
$input-disabled-bg:         #666;
$input-color:               #fff;
$input-placeholder-color:   #ccc;

/* Show it is fixed to the top */
body {
  margin-bottom: 60px;
    padding-top: 4.5rem !important;
}

.bg-dark {
  background: #666;
}

.footer {
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #666;
  color: #fff
}

p.lead {
  font-family: 'Balthazar', serif;
}

.blog-post-head {
  width: 100%;
  height: 300px;
  background-color: #666;
  padding: 2rem;
}

.card-header {
  color: #fff;
}

.card-footer {
  background-color: rgba(#000, .03) !important;
}

.btn-secondary {
  color: #fff !important;
}

pre code {
  color: #ccc !important;
}

.form-control-plaintext {
  color: #fff !important;
}

.badge-secondary {
  color: #ffffff !important;
}

.jumbotron-fluid {
  min-height: 300px !important;
}